<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.unipd.nbeghin.climbtheworldAlgorithm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- autorizzazione per far sì che l'app riceva l'evento relativo al completamento del boot del device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <!-- autorizzazione per far sì che l'app riceva gli update del riconoscimento dell'attività dell'utente-->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:name="org.unipd.nbeghin.climbtheworld.ClimbTheWorldApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <service
            android:name="org.unipd.nbeghin.climbtheworld.services.SamplingClassifyService"
            android:exported="false" />
        <service
            android:name="org.unipd.nbeghin.climbtheworld.services.SamplingRateDetectorService"
            android:exported="false" />
            
        <service
 		    android:name="org.unipd.nbeghin.climbtheworld.services.SetNextAlarmTriggersIntentService"
  	        android:exported="false" />
        
        <service
 		    android:name="org.unipd.nbeghin.climbtheworld.services.ActivityRecognitionRecordService"
  	        android:exported="false" />
        
        <service
 		    android:name="org.unipd.nbeghin.climbtheworld.activity.recognition.ActivityRecognitionIntentService"
  	        android:exported="false" />
        
        
 	    <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" /> 
        
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.ClimbActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_climb"
            android:launchMode="singleTask"            
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity> <!-- android:launchMode="singleInstance"  -->
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.ShowLogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.TourDetailActivity"
            android:label="@string/title_activity_tour_detail"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.ClimbActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.ClimbActivity" />
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.PhotoPagerActivity"
            android:label="@string/title_activity_photo_pager_activity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.GalleryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.GalleryActivity" />
        </activity>

	<activity android:name="org.unipd.nbeghin.climbtheworld.StartConfigActivity">
        </activity>
		<activity android:name="org.unipd.nbeghin.climbtheworld.AlgorithmConfigActivity">
        </activity>
      	<activity android:name="org.unipd.nbeghin.climbtheworld.EndConfigActivity">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="org.unipd.nbeghin.climbtheworld.FBShareProgressActivity"
            android:label="@string/title_activity_fbshare_progress"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity
            android:name="org.unipd.nbeghin.climbtheworld.FBPickFriendActivity"
            android:label="@string/title_activity_fbpick_friend"
            android:parentActivityName="org.unipd.nbeghin.climbtheworld.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.unipd.nbeghin.climbtheworld.MainActivity" />
        </activity>
        
        <receiver android:name="org.unipd.nbeghin.climbtheworld.receivers.TimeBatteryWatcher" 
            android:exported="false" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
  	      <intent-filter>
      	    <action android:name="android.intent.action.BOOT_COMPLETED" />
      	    <action android:name="org.unipd.nbeghin.climbtheworld.INTERVAL_START"/>   
      	    <action android:name="org.unipd.nbeghin.climbtheworld.INTERVAL_STOP"/> 
      	    <action android:name="org.unipd.nbeghin.climbtheworld.BATTERY_ENERGY_BALANCING" />
      	    <action android:name="org.unipd.nbeghin.climbtheworld.UPDATE_DAY_INDEX_TESTING"/>      	    
   	      </intent-filter>
        </receiver>
        
         <receiver android:name="org.unipd.nbeghin.climbtheworld.receivers.StairsClassifierReceiver" 
            android:exported="false">
  	      <intent-filter>
      	    <action android:name="org.unipd.nbeghin.classifier.notification" />
   	      </intent-filter>
        </receiver>
        
    </application>

</manifest>